@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body{
    font-family: Poppins, sans-serif;
}

.check {
    fill: none;
    stroke: rgb(27, 76, 168);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.check {
    stroke-dasharray: 60 200;
    animation-delay: 1.7s;
    animation: check 2s cubic-bezier(0.67, 0, 0.1, 1) forwards 0s;
    opacity: 0;
}

@keyframes check {
    from {
        stroke-dashoffset: 60;
        opacity: 1;
    }

    to {
        stroke-dashoffset: 293;
        opacity: 1;
    }
}

.thankyou {
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 30px;
}

.smaller {
    width: 130px;
    margin: 20px auto -50px auto;
}